.form {
}

.form__header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 70vh;
	margin-bottom: 2rem;

	.form__hero {
		background-image: url("../../assets/Form-Hero-Image.jpg");
		background-position: right;
		background-repeat: no-repeat;
		background-size: cover;
		height: 88vh;
		width: 50%;
		position: absolute;
		top: -4rem;
		left: 0;
		bottom: 0;
		z-index: -1;
	}

	.form__mainPanel {
		display: flex;
		flex-direction: column;
		justify-content: center;
		z-index: 1;

		.form__mainBox {
			text-align: center;
			span {
				text-transform: uppercase;
			}

			.form__mainTitle {
				font-size: 2.5em;
				font-weight: 300;
			}
		}
	}
}

.form__mainSteps {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5rem;

	.form__diamond {
		width: 8rem;
		height: 8rem;
		border: 1px solid $color-gray-dark;
		transform: rotate(45deg);

		@include media($xl) {
			width: 7.5rem;
			height: 7.5rem;
		}

		.form__diamondItem {
			transform: rotate(-45deg);
			width: 101%;
			height: 101%;
			position: relative;

			@include media($xl) {
				width: 107%;
				height: 107%;
			}
			h1,
			span {
				color: $color-gray-dark;
				font-weight: 300;
				text-align: center;
			}
			span {
				font-size: 1em;
				text-transform: none;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			h1 {
				font-size: 2em;
			}
		}
	}
}

// form steps main
.form__steps-main {
	height: 100vh;
	z-index: 1;
	.form__step {
		.form__form {
			min-height: 80vh;
			background-image: url("../../assets//Background-Form.jpg");
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			position: relative;
			padding-left: 8.875rem;
			padding-right: 10rem;

			p {
				padding-top: 2.25rem;
			}
		}
	}
}

.form__group {
	h1 {
		font-size: 2.25em;
		font-weight: 600;
		margin: 0;
		padding: 0;
		margin: 2rem 0;
	}
}

// StepOne
.form__step-one {
	&--input {
		display: flex;
		align-items: center;
		margin-bottom: 1rem;

		input[type="radio"] {
			border: 0.75px solid $color-gray-dark;
			width: 2.5rem;
			height: 2.5rem;
			margin-right: 1.875rem;
			-webkit-appearance: none;

			&:checked {
				background-color: $color-yellow;
			}
		}

		label {
			font-size: 1.5em;
			font-weight: 300;
		}
	}
}

// StepTwo

.form__step-two {
	position: relative;
	display: inline-block;
	margin-bottom: 15px;
	width: 100%;

	label {
		font-size: 1.5em;
		font-weight: 300;
		padding-right: 1rem;
	}
	@include select();
}

// StepThree

.form__step-three {
	p {
		font-size: 1.5em;
		font-weight: 600;
		padding-bottom: 1.25rem;
	}

	.form__location {
		@include select();
	}

	.form__help-groups {
		label {
			border: 0.75px solid $color-gray-dark;

			&::selection {
				background: inherit;
			}
		}

		input[type="checkbox"] + label {
			border: 1px solid black;
			cursor: pointer;
			display: inline-block;
			margin-right: 1rem;
			margin-bottom: 1rem;
			padding: 10px;
		}

		input[type="checkbox"]:checked + label {
			background-color: $color-yellow;
		}

		input[type="checkbox"]:checked,
		input[type="checkbox"]:not(:checked) {
			position: absolute;
			left: -9999%;
		}
	}

	.form__localizaton-specific {
		input {
			background-color: transparent;
			border: 0.75px solid $color-gray-dark;
			padding: 10px;
			width: 50%;
		}
	}
}

// StepFour
.form__step-four {
	p {
		font-size: 1.5em;
		font-weight: 600;
		padding-bottom: 1.25rem;
	}

	.container {
		width: 60%;
		display: grid;
		grid-gap: 9rem;
		grid-template-columns: 1fr 1fr;

		.form__inputBox {
			display: grid;
			grid-gap: 1rem;
			grid-template-columns: 30% 70%;
			margin-bottom: 1rem;

			input,
			textarea {
				background-color: transparent;
				border: 1px solid $color-gray-dark;
				padding: 5px 10px;
			}
		}
	}
}

// ThankYou
.form__thank-you {
	display: grid;
	grid-template-columns: 1fr 1fr;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
