.home__threeColumns {
	min-height: 24vh;
	background-color: $color-yellow;
	padding: 3rem 25rem;

	@include media($xxl) {
		padding: 3rem 10rem;
	}
}

.home__threeColumns-box {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 7em;
	text-align: center;
	min-width: 100%;

	.home__column {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		h1 {
			color: $color-gray-dark;
			font-size: 5.625em;
			font-weight: 300;
			padding-bottom: 1.5rem;
		}

		p {
			color: $color-gray-dark;
			font-size: 1.125em;
			letter-spacing: -0.36px;
			padding-bottom: 1rem;
			text-transform: uppercase;
		}

		span {
			color: $color-gray-dark;
			font-family: $font-alt;
			font-size: 1em;
			font-weight: 300;
			line-height: 1.3;
			letter-spacing: -0.36px;
			text-align: center;
		}
	}
}
