.home__navHeader {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 70vh;
	margin-top: 2rem;

	.home__br {
		@include media(sm) {
			display: none;
		}
	}

	@include media(sm) {
		grid-template-columns: 1fr;
		height: 50vh;
		margin-top: 0;
	}

	.home__hero {
		background: transparent url("../../assets/Home-Hero-Image.jpg") 0% 0%
			no-repeat padding-box;
		background-repeat: no-repeat;
		background-position: right;
		background-size: cover;
		height: 88vh;
		width: 50%;
		position: absolute;
		top: -3.5rem;
		left: -2rem;
		bottom: 0;
		z-index: -1;

		@include media(xxl) {
			overflow: hidden;
			top: -3.5rem;
		}

		@include media(sm) {
			top: -17.5rem;
		}

		@include media(xs) {
			top: -15.5rem;
			left: -1rem;
		}
	}

	.home__navPanel {
		display: flex;
		flex-direction: column;
		position: relative;

		@include media(sm) {
			// display: block;
		}

		.home__mainBox {
			text-align: center;
			position: absolute;
			top: 50%;
			left: 2%;
			transform: translateY(-50%);
			width: 90%;

			@include media(lg) {
				width: 100%;
			}

			@include media(lg) {
				width: 100%;
			}

			@include media(sm) {
				left: 0;
			}
		}
	}
}

.home__nav {
	margin-top: 2.25rem;
	z-index: 1;

	@include media(sm) {
		display: flex;
		width: 100%;
		margin-top: 1.5rem;
	}

	.nav-userBar ul {
		@include navLinksUser();

		.nav__userBar-hello {
			font-size: 0.875em;
		}
	}

	.nav__menu--links {
		@include navLinksMenu();
	}
}

// main box

.home__mainBox-title {
	h1 {
		color: $color-gray-dark;
		font-size: 2.375em;
		letter-spacing: -0.76px;
		line-height: 1.4;
		margin-bottom: 1rem;
		text-align: center;

		@include media(xxl) {
			font-size: 2em;
		}

		@include media(xl) {
			font-size: 1.5em;
		}

		@include media(md) {
			line-height: 1.3;
			margin-bottom: 0.5rem;
		}

		@include media(sm) {
			font-size: 1.25em;
		}

		@include media(xxs) {
			font-size: 1em;
		}
	}
}

// decoration
.decoration {
	background: transparent url("../../assets//Decoration.svg") 0% 0% no-repeat
		padding-box;
	display: block;
	width: 15.813rem;
	height: 2.063rem;
	margin: 0 auto;
	margin-bottom: 2rem;

	// @include media(sm) {
	// 	display: none;
	// }
}

// mainbox action buttons
.home__mainBox-btns ul {
	display: flex;
	justify-content: center;

	@include media(sm) {
		margin: 0 auto;
		justify-content: space-around;
		width: 70%;
	}

	@include media(xs) {
		width: 80%;
	}

	@include media(xxs) {
		width: 95%;
	}

	li {
		border: 0.75px solid $color-gray-dark;
		background-color: $color-white;
		width: 17rem;
		height: 7.5rem;
		text-align: center;
		position: relative;
		transition: 0.2s;

		@include media(xl) {
			width: 15rem;
			height: 7rem;
		}

		@include media(md) {
			width: 12rem;
			height: 6rem;
		}

		@include media(sm) {
			width: 8rem;
			height: 4rem;
			// opacity: 0.7;
		}

		&:first-of-type {
			margin-right: 2rem;

			@include media(sm) {
				margin-right: 0;
			}
		}

		&:hover {
			border-color: $color-yellow;
			transform: scale(0.9);
		}

		a {
			color: $color-gray-dark;
			cursor: pointer;
			font-size: 2.25em;
			line-height: 2.5rem;
			text-decoration: none;
			text-transform: uppercase;
			font-weight: 300;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			@include media(xl) {
				font-size: 2em;
			}

			@include media(lg) {
				font-size: 1.875em;
			}

			@include media(md) {
				font-size: 1.5em;
			}
			@include media(sm) {
				font-size: 0.875em;
				line-height: 1.2;
			}
		}
	}
}
