.home__contact {
	display: grid;
	grid-template-columns: 60% 40%;
	min-height: 100vh;
	padding-right: 3rem;
	position: relative;
	z-index: 1;

	.form__br {
		@include media(sm) {
			display: none;
		}
	}

	@include media(xl) {
		padding-right: 0;
	}

	@include media(lg) {
		grid-template-columns: 1fr 1fr;
		min-height: 80vh;
	}

	@include media(md) {
		min-height: 50vh;
		grid-template-columns: 40% 60%;
	}

	@include media(sm) {
		grid-template-columns: 1fr;
		padding-right: 0;
	}

	@include media(xxs) {
		padding: 0;
	}

	.home__bg {
		background-image: url("../../assets/Background-Contact-Form.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		height: 100%;
		width: 100%;
		opacity: 0.3;
		padding: 0;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: -1;

		@include media(xxl) {
			background-size: cover;
		}

		@include media(xl) {
			background-position: -50px;
		}

		@include media(lg) {
			background-position: -90px;
		}

		@include media(md) {
			background-position: -150px;
		}

		@include media(sm) {
			// background-position: -150px;
			display: none;
		}
	}
}

.home__contactForm {
	display: flex;
	flex-flow: column;
	justify-content: center;
	height: 86%;
	margin-top: 10rem;

	@include media(xxl) {
		margin-top: 7rem;
	}

	@include media(sm) {
		margin-top: 4rem;
	}
}

.home__contact-box {
	margin: 4rem 3rem;

	@include media(xxl) {
		margin: 2rem 3rem;
	}

	form {
		display: grid;
		grid-gap: 2.5rem;
		grid-template-columns: 1fr 1fr;

		label {
			display: block;
			font-weight: 600;
			margin-bottom: 0.3em;

			@include media(xxs) {
				font-size: 0.875rem;
			}
		}

		p {
			margin: 0;
			@include media(sm) {
				grid-column: 1 / 3;
			}
		}

		p:last-child {
			justify-self: end;
		}

		.home__form-full {
			grid-column: 1 / 3;

			textarea {
				width: 95%;
			}
		}

		input,
		textarea {
			border: none;
			border-bottom: 1px solid #707070;
			background-color: transparent;
			font-family: $font-base;
			padding: 1em;
			width: 90%;

			&::placeholder {
				font-size: 1.125em;
				opacity: 0.3;
				padding: 0;
			}

			&:focus {
				outline-width: 3px;
				outline-offset: 2px;
				border-color: #9ecaed;
				box-shadow: 0 0 10px #9ecaed;
			}
		}

		input[type="email"] {
			@include media(xl) {
				height: 45%;
			}
		}

		input.error,
		textarea.error {
			border-bottom: 1px solid red;
			color: $color-gray-dark;
			font-size: 0.875em;

			@include media(xxs) {
				font-size: 0.7em;
			}
		}

		button {
			background-color: transparent;
			border: 1px solid #707070;
			font-weight: 300;
			font-size: 1.125em;
			padding: 0.75rem 3.25rem;
			transition: 0.3s;

			&:hover {
				border-color: $color-yellow;
			}
		}
	}
}

.home__contact-footer {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: flex-end;
	grid-column: 1 / 3;

	@include media(sm) {
		flex-direction: row;
		margin: 0 auto;
		margin-bottom: 1rem;
	}

	.copyright {
		color: $color-gray-dark;
		display: block;
		font-size: 1.125em;
	}

	.home__socialMedia {
		align-self: flex-end;
		display: flex;
		margin-right: 5rem;

		@include media(sm) {
			margin-right: 0;
		}

		.icon {
			background-repeat: no-repeat;
			background-size: contain;
			width: 1.875rem;
			height: 1.875rem;
			padding-bottom: 1.375rem;

			@include media(sm) {
				padding-bottom: 0;
			}

			@include media(xxs) {
				width: 1.5rem;
				height: 1.5rem;
			}
		}

		.facebook {
			background-image: url("../../assets/Facebook.svg");
			margin-right: 1rem;

			@include media(sm) {
				margin: 0 1rem;
			}
		}

		.instagram {
			background-image: url("../../assets/Instagram.svg");
		}
	}
}

// error message
.error {
	color: red;
	font-size: 0.625em;
	font-weight: 600;
}

.success {
	color: green;
	font-weight: 600;
	font-size: 0.875em;
	text-align: center;
	margin: 0 auto;
}
