.tab-list {
  display: flex;
  justify-content: center;
}

.tab-list-item {
  display: inline-block;
  font-size: 24px;
  list-style: none;
  padding: 1rem 2rem;
  text-align: center;
  height: 4rem;
  width: 12rem;
  word-break: normal;

  &:first-child {
    line-height: 4rem;
  }
}

.tab-list-active {
  border: 1px solid #ccc;
  margin-bottom: 4.375rem;
}
