.language__btns {
	display: flex;
	justify-content: center;
	align-items: center;

	li {
		button {
			border: 0.75px solid transparent;
			background-color: transparent;
			cursor: pointer;
			padding: 10px;
			text-transform: uppercase;
			transition: 0.3s;

			&:hover {
				border-color: $color-yellow;
			}
		}
	}
}
