.tab-list {
	display: flex;
	justify-content: center;
	min-height: 10vh;
}

.tab-list-item {
	color: $color-gray-dark;
	cursor: pointer;
	display: inline-block;
	font-size: 24px;
	list-style: none;
	padding: 1rem 2rem;
	text-align: center;
	height: 4rem;
	width: 14rem;
	word-break: normal;
	transition: 0.3s;

	&:nth-child(3) {
		line-height: 4rem;

		@include media(lg) {
			line-height: 1;
		}
	}

	&:first-child {
		line-height: 4rem;
	}

	&:hover {
		color: $color-yellow;
	}
}

.tab-list-active {
	border: 0.75px solid $color-gray-dark;
	cursor: pointer;
	margin-bottom: 4.375rem;
	transition: 0.3s;

	&:hover {
		border-color: $color-yellow;
	}
}
