@import "./fonts//open-sans";
@import "./fonts/merriweather";
@import "./reset/reset";
@import "./settings/fonts";
@import "./settings/colors";
@import "./tools/variables";
@import "./tools/mixins";
@import "./layouts/wrapper";
@import "./layouts/languageBtns";
@import "./components/homeNavHeader";
@import "./components/homeThreeColumns";
@import "./components/homeSimpleSteps";
@import "./components/homeAboutUs";
@import "./layouts/tabs";
@import "./layouts//customDescription";
@import "./layouts/copyright";
@import "./components/homeWhoWeHelp";
@import "./components/homeContact";
@import "./components/login";
@import "./layouts/formInfoBanner";
@import "./components/form";
@import "./layouts/burger";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: $font-base;
	position: relative;
	height: 100%;
}

#root {
	height: 100%;
}
