@mixin navLinksUser {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 1rem;

	@include media(sm) {
		justify-content: flex-start;
		margin-right: 3rem;
	}

	@include media(xs) {
		margin-right: 3rem;
		align-items: center;
	}

	li {
		text-align: center;
		padding-left: 1rem;

		@include media(xs) {
			padding-left: 0.875rem;
		}

		a {
			border: 0.75px solid transparent;
			color: $color-gray-normal;
			cursor: pointer;
			font-size: 0.875em;
			text-decoration: none;
			padding: 10px 20px;
			transition: 0.2s;

			&:hover {
				border-color: $color-yellow;
				color: $color-black;
			}

			@include media(xxl) {
				padding: 10px;
			}

			@include media(xl) {
				padding: 5px;
			}

			@include media(lg) {
				padding: 5px;
			}

			@include media(sm) {
				font-size: 0.7em;
			}

			@include media(sm) {
				font-size: 0.6em;
				line-height: auto;
			}
		}
	}
}

@mixin navLinksMenu {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 1rem;

	@include media(sm) {
		background-color: $color-gray-light;
		flex-direction: column;
		justify-content: space-evenly;

		margin-bottom: 0;
		position: absolute;
		left: 1rem;
		right: 1rem;
		top: 5%;
		z-index: 10;
	}

	li {
		text-align: center;
		padding-left: 1rem;

		@include media(sm) {
			border-bottom: 0.75px solid $color-gray-dark;
			cursor: pointer;
			padding: 0;
			width: 100%;
		}

		&:hover {
			@include media(sm) {
				border-color: $color-yellow;
				background-color: darken($color-gray-light, 10%);
			}
		}

		a {
			border: 0.75px solid transparent;
			color: $color-gray-dark;
			cursor: pointer;
			font-size: 1.5em;
			text-decoration: none;
			padding: 10px 20px;
			transition: 0.2s;

			@include media(xxl) {
				font-size: 1.125em;
			}

			@include media(xl) {
				font-size: 1em;
			}

			@include media(sm) {
				border: none;
				// height: 100%;
				line-height: 3rem;
			}

			&:hover {
				border-color: $color-gray-dark;
			}

			@include media(xxl) {
				padding: 10px;
			}

			@include media(xl) {
				padding: 5px;
			}

			@include media(lg) {
				padding: 5px;
			}
		}
	}
}

@mixin media($breakpoint) {
	$size: map-get($breakpoints, $breakpoint);

	@if ($size) {
		@media #{$size} {
			@content;
		}
	} @else {
		@error '"#{$breakpoint}" - nie ma takiej wielkości';
	}
}

@mixin select {
	.select {
		background-color: transparent;
		position: relative;
		display: block;
		font-weight: 300;
		line-height: 3;
		overflow: hidden;
		padding-bottom: 1rem;
		width: 18rem;
		height: 3rem;
	}

	select {
		appearance: none;
		background: url("../../assets/Icon-Arrow-Down.svg") no-repeat 98.5% !important;
		background-color: transparent;
		border: 0.75px solid #000000;
		cursor: pointer;
		display: inline-block;
		font-size: 1.5em;
		outline: 0;
		width: 30%;
		height: 100%;
		padding: 10px 15px;
	}

	option {
		font-weight: 300;
	}

	select.arrowUp {
		background: url("../../assets/Icon-Arrow-Up.svg") no-repeat 98.5% !important;
		background-color: transparent;
		// transform: rotate(-180deg);
	}
}
