@mixin navButtons {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 1rem;

	li {
		text-align: center;
		padding-left: 1rem;

		a {
			border: 0.75px solid transparent;
			color: $color-gray-normal;
			cursor: pointer;
			font-size: 0.875em;
			text-decoration: none;
			padding: 10px 20px;
			transition: 0.2s;

			&:hover {
				border-color: $color-yellow;
				color: $color-black;
			}

			@include media($xxl) {
				padding: 10px;
			}

			@include media($xl) {
				padding: 5px;
			}

			@include media($lg) {
				padding: 5px;
			}
		}
	}
}

@mixin media($size) {
	@media (max-width: $size - 1) {
		@content;
	}
}

@mixin select {
	select {
		appearance: none;
		border: 0.75px solid #000000;
		cursor: pointer;
		display: inline-block;
		background: url("../../assets/Icon-Arrow-Down.svg") transparent no-repeat
			98.5% !important;
		user-select: none;
		width: 18rem;
		height: 3rem;
		padding: 10px 15px;
	}

	select.arrowUp {
		background: url("../../assets/Icon-Arrow-Up.svg") transparent no-repeat
			98.5% !important;
		// transform: rotate(-180deg);
	}
}
